/* Layout */
* {
  box-sizing: border-box;
}

$violet: violet;
$blue: #0ff;
// @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .column {
  position: relative;
  overflow: hidden;
  width: 50%;
  text-align: center;
  align-items: center;
}

.container .column .introBox {
  position: relative;
  width: 75vmin;
  height: 75vmin;
  margin: auto;
  text-align: left;
  color: #252B37;
  background-color: #151823;
  animation: textColor 20s ease infinite;

  @keyframes textColor {
    0% {
      color: #7e0fff;
    }

    50% {
      color: #0fffc1;
    }

    100% {
      color: #7e0fff;

    }
  }

}


#west {
  display: flex;
  font-family: monospace;
  justify-content: center;
  background-color: darken(#252B37, 4%);
  background-image: url("../components/assets/images/peakpx.webp");
  background-repeat: round;
  width: 55%;
}

.btn-resume {
  width: 20vmin;
  height: 3vmin;
  margin-right: 1vw;
  // margin: 1%;
  background-color: darken(#252B37, 4%);
  border-radius: 3rem;
  font-size: 1.3vmin;
  color: #0ff;
  border-color: #0ff;
  cursor: pointer;

  &:hover {
    background-color: #0ff;
    border-color: darken(#252B37, 4%);
    color: #252B37;
  }
}

#east {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
  background-image:
    url('../components/assets/images/midground_grass.webp'),
    url("../components/assets/images/background_mountain5.webp"),
    url('../components/assets/images/background_mountain4.webp'),
    url('../components/assets/images/background_mountain3.webp'),
    url('../components/assets/images/background_mountain2.webp'),
    url('../components/assets/images/background_mountain1.webp');
  // url('http://stash.rachelnabors.com/24ways2012/midground_grass.png'),
  //   url("http://stash.rachelnabors.com/24ways2012/background_mountain5.png")
  //   ,
  //   url('http://stash.rachelnabors.com/24ways2012/background_mountain4.png'),
  //   url('http://stash.rachelnabors.com/24ways2012/background_mountain3.png'),
  //   url('http://stash.rachelnabors.com/24ways2012/background_mountain2.png'),
  //   url('http://stash.rachelnabors.com/24ways2012/background_mountain1.png');
  // url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
  // url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
  background-repeat: repeat-x;
  background-position:
    0 100%,
    0 125%,
    0 100%,
    0 90%,
    0 80%,
    0 65%;

  background-size:
    1000px,
    2500px,
    800px,
    500px 200px,
    1000px,
    1000px;
  animation: 100s para infinite linear;
}

@keyframes para {
  100% {
    background-position-x: 2400px, 2000px, 1800px, 1600px, 1200px;
  }
}

.tuna {
  margin-top: auto;
  width: 20vmin;
  height: 10vmin;
}

.triplemoon {
  align-items: center;
  position: relative;
  width: 20%;
  height: 20%;
  margin: auto;
  margin-left: 40%;
  text-align: center;
}

.triplemoon-white {
  align-items: center;
  position: relative;
  width: 35%;
  height: 35%;
  margin: 6%;
  margin-left: 7%;
  text-align: center;
}

.text-zone {
  margin-left: 6%;
  padding: 1%;
  width: 75%;
  height: 60%;
  font-family: 'Urbanist', sans-serif;

  h1 {
    margin: 0px;
    padding: 0%;
    font-size: 3.5vmin;
  }

  h3 {
    margin: 0px;
    font-size: 2vmin;
  }

  p {
    font-size: 1.7vmin;
    color: #ffffff;
  }
}

.eastbuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.eastbuttons {
  // margin-top: 45%;

  button {
    margin: 1.5vmin;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vmin;
    font-weight: 600;
    background-color: #ffff;
    border: .3vmin solid;
    text-transform: uppercase;
    letter-spacing: .1rem;
    position: relative;
    display: inline-block;
    width: 20vmin;
    height: 10vmin;
    display: block;
    text-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    opacity: .5;
    animation: textColor 20s ease infinite;

    @keyframes textColor {
      0% {
        color: rgb(0, 42, 231);
      }

      50% {
        color: #a83279;
      }

      100% {
        color: rgb(0, 42, 231);

      }
    }

    &:active {
      background-color: #252B37;
    }

    // i {
    //   transition: all 0.3s ease-out;
    // }

    &:hover {

      svg {
        opacity: 0;
      }

      &::before {
        transform: scaleY(0);
      }

      &:after {
        opacity: 1;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: -2px;
      width: calc(100% + 6px);
      /*100% plus double the times left values*/
      background-color: white;
      height: calc(100% - 10px);
      transition: all 0.5s ease-in-out;
      transform: scaleY(1);
    }

    &:after {
      content: '';
      font-size: 1.5em;
      position: absolute;
      bottom: 40%;
      width: 100%;
      display: block;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      transform: scaleX(1);
    }

    &:first-child {
      &:after {
        content: 'HOME';
      }
    }
  }

  button.edu-link {
    &:after {
      content: 'EDUCATION';
    }
  }

  button.exp-link {
    &:after {
      content: 'EXPERIENCE';
    }
  }

  button.pub-link {

    &:after {
      content: 'PUBLICATIONS';
    }
  }

  button.project-link {
    &:after {
      content: 'PROJECTS';
    }
  }

  button.blog-link {
    &:after {
      content: 'BLOG';
    }
  }

  button.prize-link {
    &:after {
      content: 'PRIZES';
    }
  }


}