@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,700);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* Variables */
$color-1: rgb(53, 55, 95);
$color-2: white;
$color-3: rgb(168, 50, 121);
$headlines: rgb(33, 13, 39);

.list-container {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;

  justify-content: left;
  align-items: center;
  // background-color: #837e7c00;
  margin-top: 7vh;
}


.item-container {
  // transition: 1s;
  justify-content: center;
  align-items: center;
  height: 10vmin;
  width: 70%;
  font-family: 'Poppins', sans-serif;

  margin: 2vmin;

  &:hover {
    .item-icon {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background-color: $color-3;
    }

    .item-date {
      -moz-box-shadow: inset 0 0 0 0em #ef795a;
      -webkit-box-shadow: inset 0 0 0 0em #ef795a;
      box-shadow: inset 0 0 0 0em #ef795a;
      color: #0a22fc;
      font-weight: 800;
      margin-left: 2.5vmin;
      margin-bottom: 2.5vmin;
    }
  }
}


.item-expand {
  // margin-top: 2vmin;
  margin-left: 2vmin;

  h3 {
    font-size: 2.2vmin;
    font-weight: 800;
    margin-top: .5vmin;
    margin-left: 1.5vmin;
    margin-bottom: 0;
    // margin-bottom: .5vh;
    // margin-top: 2vh;
    padding-top: 2vh;
    color: $headlines;
  }

  h4 {
    font-size: 1.6vmin;
    padding: .5vmin;
    font-weight: 500;
    margin-left: .5vmin;
    margin-bottom: .5vh;
    margin-top: .1vmin;
    color: rgb(39 90 156);

  }

  p {
    font-size: 1.6vmin;
    font-weight: 800;
    margin-left: 1vw;
    padding: .2vmin;
    margin-top: .5vh;
    color: #fff;
  }

}

.item-icon {
  height: 1.5vmin;
  width: 1.5vmin;
  margin: .6vmin;
  -moz-transition: -moz-transform 0.5s ease-in;
  -o-transition: -o-transform 0.5s ease-in;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  background-color: #fff;
  // outline: 10px solid #232931;
  display: block;
  position: absolute;
}

.item-date {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: black;
  font-size: 1.2vmin;
  font-weight: 800;
  position: absolute;
  background-color: white;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-left: 2.5vmin;
  padding: 0.25em 1em 0.2em 1em;
  // create button style that goes with this stylesheet 

}

.item-publisher {
  color: #B09FCA;
  float: left;
  margin-left: 2vmin;
  font-size: 1.7vmin;
  font-weight: 800;
  padding: .4vmin;
}

// stylesheet for the react paginator 
.navigationButtons {
  // fix naviagtion buttons to the bottom of the page
  position: fixed;
  bottom: 0;
  right: 0;
  width: max-content;
  display: flex;
  justify-content: right;
  align-items: center;

  font-weight: 800;
  list-style: none;
  font-size: x-large;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 5%;
  padding-right: 2%;
}

.navigationButtons a {
  padding: .5vmin;
  margin: .5vmin;
  color: black;
  cursor: pointer;
}

.navigationButtons a:hover {
  font-weight: 400;
  color: rgb(112, 168, 241);
}

.navigationActive a {
  color: blue;
  font-weight: 1200;
}

.navigationDisabled a {
  color: #837E7C;
  font-weight: 800;
  cursor: not-allowed;
  pointer-events: none;
}