.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #252525, $alpha: 0.35);

  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    width: 60vw;
    height: 75vh;
    padding: 2rem;
    border-radius: 20px;
    // hide scrollbar but still scroll 
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    background-color: #151823;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

    &_header {
      position: relative;

      &-title {
        text-align: center;
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        background: white;

        img {
          width: 1rem;
          height: auto;
          transition: all 0.3s;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    &_content {
      padding: 2rem 0;
      font-family: 'Urbanist', sans-serif;
      font-weight: 100;
    }


  }
}

// create title style where the title is at center of the page
.title {
  text-align: center;
  font-size: 2.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: #a83279;
}