.navigationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
}

.navigationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #46bbfa;
  color: #46bbfa;
  cursor: pointer;
}

.navigationButtons a:hover {
  color: white;
  background-color: #46bbfa;
}

.navigationActive a {
  color: white;
  background-color: #46bbfa;
}

.navigationDisabled a {
  color: rgb(176, 210, 250);
  background-color: rgb(209, 232, 243);
}